/* Style CSS pour le formulaire de messagerie */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* page tableau de bord */
.dashboard,
.analyse,
.messagerie {
  display: flex;
  justify-content: space-around;
}

.messagerie {
  min-height: 50vh;
}

.module {
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  margin: 10px;
  text-align: center;
  color: #333;
  transition: background-color 0.3s;
}

.module:hover {
  background-color: #f0f0f0;
}

.title {
  text-align-last: center;
}

/* page Analyse */

table {
  width: 70%; /* Ajustez la largeur du tableau selon vos besoins */
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #1f2937;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #1f1f1f; /* Couleur de fond pour les lignes paires */
  color: #fff; /* Couleur du texte pour les lignes impaires */
}

tr:nth-child(odd) {
  background-color: #1f2937; /* Couleur de fond pour les lignes impaires */
  color: #fff; /* Couleur du texte pour les lignes impaires */
}

/* barre de navigation */

#sidebar {
  width: 10%;
  height: 100vh;
  background-color: #1f2937;
  position: fixed;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin: 0;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}

.user-info {
  background-color: #1f2937;
  color: #fff;
  padding: 10px;
}

#search-bar {
  background-color: #111827;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajout de cette ligne pour aligner les éléments à gauche, au centre et à droite */
}

#search-bar input {
  background-color: transparent;
  border: none;
  color: #fff;
  align-items: center;
}

#search-bar input::placeholder {
  color: #ccc;
}

#search-bar button {
  background-color: #1f2937; /* Couleur de fond du bouton */
  color: #fff;
  border: none;
  padding: 10px 20px;
}

#search-icon {
  padding: 10px;
  flex: 30%;
}

#content {
  margin-left: 10%; /* Pour laisser de l'espace pour la sidebar */
}

/* Page de messagerie */

form {
  background-color: #111827;
  padding: 20px;
  width: 70%; /* Ajustez la largeur du formulaire selon vos besoins */
  text-align: center;
  margin: 0 auto;
}
.messagerie input[type="text"],
.messagerie input[type="email"],
.messagerie input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: #ccc;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #1f2937;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
